* {
    margin: 0;
    padding: 0;
}


.task {
    border-radius: 10px;
    background: white;
    padding:10px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 2px -1px 2px 1px rgba(0,0,0,0.1);
}

.task h4 {
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.delete {
    position: absolute;
    top: 5px;
    right:5px;
    padding: 5px 10px;
    background: rgb(72, 132, 94);
    border-radius: 15px;
    color: white !important;
    font-weight: bolder;
}

.task-title {
    font-weight: bold;
    font-size: 15px;
}

.task p {
    color: gray;
}